extends ./layout.pug

block contenido
    section
        .card
            .card-body
                h1 About
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam magni cumque praesentium ducimus laboriosam aspernatur harum fugit ipsa temporibus saepe fuga vel inventore, nobis beatae. Natus, accusantium minus. Asperiores, libero. 