extends ./layout.pug
block contenido
    .jumbotron.mt-4
        h1.diplay-4 Notes App Nodejs and MongoDB
        p.lead Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore corporis ducimus debitis, ullam aspernatur neque consectetur laudantium amet expedita, dignissimos vitae! Tempora aut aspernatur pariatur. Fugiat voluptatem quod consequatur praesentium.
        hr.my-4
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, voluptas nostrum! Enim molestiae harum quaerat adipisci nesciunt odit fugiat cupiditate omnis hic praesentium. Explicabo consectetur quos quia dolorem minima repudiandae.
        a.btn.btn-primary(href="https://www.faztweb.com") Faztweb 