if success_msg[0] != null
    .alert.alert-success.alert-dismissible.fade.show(role='alert') #{ success_msg }
        button.close(type='button' data-dismiss='alert' aria-label='Close')
            span(aria-hidden='true') &times;

if errors
    each val in errors
        .alert.alert-danger.alert-dismissible.fade.show(role='alert') #{ val.text }
            button.close(type='button' data-dismiss='alert' aria-label='Close')
                span(aria-hidden='true') &times;

if error_msg[0] != null
    .alert.alert-danger.alert-dismissible.fade.show(role='alert') #{ error_msg }
        button.close(type='button' data-dismiss='alert' aria-label='Close')
            span(aria-hidden='true') &times;