if success_msg[0] != null
    .alert.alert-success.alert-dismissible.fade.show(role='alert') #{ success_msg }
        button.close(type='button' data-dismiss='alert' aria-label='Close')
            span(aria-hidden='true') &times;